---
layout: default
title: history &middot; Erwin CV
---

<div class="docs-sub-header">
  {% include masthead.html %}
  <div class="container">
    <div class="docs-sub-content">
      <h2 class="page-title">工作经历</h2>
      <p class="page-description">做过旅游电商，从视觉转向前端，致力于做会视觉的前端工程师</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="column-group">
    <div class="column lg-units-8 docs-content">
      <div class="docs-section">
        <h2>浙江商务国际旅行社</h2>
        <h4>2013 - 2016.10</h4>
        <ol>
            <li>负责公司电商天猫、穷游、蚂蜂窝等渠道的视觉页面设计。</li>
            <li>负责公司官网的视觉PRD产出，高保真原型及前端构建。</li>
            <li>梳理内部业务流程，并用IT技术手段进行优化，提高内部运营效率。</li>
            <li>产出微信端售后运营小工具，如H5预约工具，入台证办理工具，H5入台证攻略，内部知识管理库inwanBase，便于新人熟悉产品，了解业务处理 流程。</li>
        </ol>
      </div>

      <div class="docs-section">
        <h2>淘宝装修市场</h2>
        <h4>2011 - 2013  zx.taobao.com</h4>
        <p>淘宝模版设计师</p>
        <p>从视觉设计到前端切图，到用PHP组件化代码套模板。</p>
      </div>

      <div class="docs-section">
        <h2>杭州网营科技有限公司</h2>
        <h4>2010.4 - 2011.6</h4>
        <p>实习转正为视觉设计师。</p>
      </div>
      <div class="docs-section">
        <h2>浙江树人大学</h2>
        <h4>2007.6 - 2010.6</h4>
        <p>毕业。</p>
      </div>
    </div>

  </div>

  <div class="column">
    <!-- Footer -->
    {% include footer.html %}
  </div>
</div>
