---
layout: home
title: Erwin CV
---

<div class="docs-header">
  {% include masthead.html %}
  <div class="docs-header-content">
    <p class="docs-subtitle">张歆杰<br />13819181845 / 26674783@qq.com</p>
    <a data-ignore="push" href="{{ site.github.url }}/work" class="btn btn-primary" onClick="">项目案例</a>

  </div>
</div>

<div class="index-content docs-content">
  <h2>自我评价</h2>
  <p>具有3年互联网电商视觉设计经验，以及1年前端开发经验。
性格积极乐观，有亲和力，做事认真，抗压能力强。能够独立完成电商网站的视觉搭建及前端交互切图上线等工作。</p>

  <h3>前端技术栈</h3>
  <p>熟练掌握html / css ，熟悉JS，Bootstrap，jQuery等。</p>
  <p>工作流程为：<br>需求分析后，使用Yo / Grunt / Gulp进行项目构建，使用Webpack 处理JS打包依赖，使用Vue.js、React.js 等JS MVVM库进行组织架构。</p>
  <p>使用基于Git的可视化软件SourceTree进行代码版本控制。</p>
  <p>移动端使用CSS框架：Framework7、WeUI、Vux</p>
  <p>后端BAAS云服务：leancloud </p>
  <p>熟悉Wordpress，会改theme和PHP相关文件。</p>
  <p>了解Node、Express框架。</p>
  <p>未来技术学习方向：Vue2.0，Weex，React.js，Node+Express+MongoDB，三端测试框架Macaca.js以及CI持续集成Reliable.js</p>
  <p>Github: <i>https://github.com/Erwin11</i></p>
</div>
{% include footer.html %}
