<article class="component" id="brand" data-url='brand'>
  <h2 class="component-title">尚旅汇品牌设计规范</h2>
  <p class="component-description">涵盖企业LOGO、二维码、中英文字体、品牌用色规范等。</p>

  <h3>LOGO</h3>
  <p>规范LOGO的使用原则和统一下载路径。公司内外都可访问及下载相关文件。</p>
  <p>增加公司的品牌影响力，在上下游合作中能更好的提升企业形象。</p>

  <h3>二维码</h3>
  <p>公司拥有2个微信号。既服务号和订阅号。原则上为统一企业形象，不做设计区分。</p>
  <p>为方便运营更好更快的抓取二维码进行投放，特设此处以便提供下载。</p>

  <h3>字体</h3>
  <p>为避免在互联网上侵犯其他字体公司的版权，有利于规避潜在法律风险。字体规范为开源的思源字体。该字体有多国语言支持，并且拥有多个字重，能在印刷、Web等多个展示空间方便使用。</p>

  <h3>线下物流</h3>
  <p>此部分为公司下线合作商的平铺物料。</p>
  <div class="component-example component-example-fullbleed">
    <div id="brand-qrcode" class="qrcode">
    </div>
<script type="text/javascript">
var qrcode = new QRCode(document.getElementById("brand-qrcode"), {
    text: "http://www.inwanwan.com/brand/brand.html",
    width: 100,
    height: 100,
    colorDark : "#000000",
    colorLight : "#ffffff",
    correctLevel : QRCode.CorrectLevel.H
});
</script>
    <p class="text-center">微信扫一扫</p>
    </div>
</article>
