<article class="component active" id="h5tkt"  data-url='h5tkt'>

  <h2 class="component-title">微信端-台湾高铁预约</h2>
  <p class="component-description">
  <p>帮助在天猫等各大渠道购买的顾客凭相关信息，在进入公司的公众号后，点击菜单兑换成相应的电子票券。从公众号直接进入的顾客也能通过手机付款购票。</p>
  <div class="component-example component-example-fullbleed">
    <div id="h5tkt-qrcode" class="qrcode">
    </div>
<script type="text/javascript">
var qrcode = new QRCode(document.getElementById("h5tkt-qrcode"), {
    text: "http://www.meimeilook.com/h5gttkt.html",
    width: 100,
    height: 100,
    colorDark : "#000000",
    colorLight : "#ffffff",
    correctLevel : QRCode.CorrectLevel.H
});
</script>
    <p class="text-center">微信扫一扫</p>
    </div>

</article>
