<article class="component active" id="wx" data-url="wx">
  <h2 class="component-title">微信公众号服务菜单</h2>
  <p class="component-description">汇总所有公司的业务对接。分发至买家，提供良好的售中体验。</p>
  <div class="component-example component-example-fullbleed">
    <div id="wx-qrcode" class="qrcode">
    </div>
<script type="text/javascript">
var qrcode = new QRCode(document.getElementById("wx-qrcode"), {
    text: "http://www.aoxsdesign.com/slh/index.html",
    width: 100,
    height: 100,
    colorDark : "#000000",
    colorLight : "#ffffff",
    correctLevel : QRCode.CorrectLevel.H
});
</script>
    <p class="text-center">微信扫一扫</p>
    </div>

</article>
