<header class="docs-masthead clearfix">
  <div class="container">
    <div class="column">
      <h1 class="docs-title">
        <a href="/" data-ignore="push">个人简历</a>
      </h1>
      <nav class="docs-nav clearfix">
        <a class="docs-nav-trigger icon icon-menu pull-right js-docs-nav-trigger" href="#"></a>
        <div class="docs-nav-group">
          <a class="docs-nav-item" href="/" data-ignore="push">首页</a>
          <a class="docs-nav-item" href="/work" data-ignore="push">项目案例</a>
          <a class="docs-nav-item" href="/history" data-ignore="push">工作经历</a>
          <a class="docs-nav-item" href="/about" data-ignore="push">关于我</a>
          <a class="docs-nav-item" href="https://github.com/erwin11" target="_blank" data-ignore="push">github</a>
        </div>
      </nav>
    </div>
  </div>
</header>
