---
layout: default
title: About &middot; Erwin CV
---

<div class="docs-sub-header">
  {% include masthead.html %}
  <div class="container">
    <div class="docs-sub-content">
      <h2 class="page-title">关于我</h2>
      <p class="page-description">爱好UI/UX、摄影、美食、电影、寻找城市中有趣的咖啡店、喜欢一切美好的事物。</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="column-group">
    <div class="column lg-units-8 docs-content">
      <div class="docs-section">
        <h2>喜欢的电影</h2>
        <p>科幻类、赛博朋克、动作片、日韩小清新。<br/>电影能打开人的思路，阅读有趣的故事。当今的有趣技术，都源自于电影的想象。想知道未来的技术是怎样的，看看科幻类的会很有启发。</p>
      </div>

      <div class="docs-section">
        <h2>喜欢的美食</h2>
        <p>有机会就应该做好吃好看的便当犒劳自己。</p>
        <p>不要因为怕麻烦而不去做。处理食材的过程就是思考的过程。前期准备的越好，食物的味道越好。</p>
      </div>

      <div class="docs-section">
        <h2>联系方式</h2>
        <p>你可以通过以下方式联系我：</p>
        <ul>
          <li>行动电话 : <a href="tel:+008613819181845">+0086 13819181845</a></li>
          <li>邮件咨询 : 26674783@qq.com </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="column">
    <!-- Footer -->
    {% include footer.html %}
  </div>
</div>
