<article class="component" id="h5photo" data-url='h5photo'>
  <h2 class="component-title">H5营销-和明星合影</h2>
  <p class="component-description">利用和明星合影的小游戏，促进公众号的用户活跃度。</p>

  <h3>使用Html5技术</h3>
  <p>有利用到Camera、Canvas、localStorage等新技术。</p>
  <div class="component-example component-example-fullbleed">
    <div id="h5photo-qrcode" class="qrcode">
    </div>
<script type="text/javascript">
var qrcode = new QRCode(document.getElementById("h5photo-qrcode"), {
    text: "http://www.aoxsdesign.com/motiondemo/index.html",
    width: 100,
    height: 100,
    colorDark : "#000000",
    colorLight : "#ffffff",
    correctLevel : QRCode.CorrectLevel.H
});
</script>
    <p class="text-center">微信扫一扫</p>
    </div>
</article>
